<!-- wp:template-part {"slug":"header","theme":"human-resources","tagName":"header"} /-->

<!-- wp:pattern {"slug":"human-resources/banner"} /-->


<!-- wp:group {"tagName":"main","className":"human-resources-team-section","style":{"spacing":{"blockGap":"var:preset|spacing|20","margin":{"top":"0","bottom":"0"},"padding":{"top":"var:preset|spacing|30","bottom":"var:preset|spacing|30"}}},"backgroundColor":"background","layout":{"type":"constrained","contentSize":"80%"}} -->
<main id="team-section" class="wp-block-group human-resources-team-section has-background-background-color has-background" style="margin-top:0;margin-bottom:0;padding-top:var(--wp--preset--spacing--30);padding-bottom:var(--wp--preset--spacing--30)"><!-- wp:pattern {"slug":"human-resources/team-section"} /--></main>
<!-- /wp:group -->

<!-- wp:spacer {"height":"20px"} -->
<div style="height:20px" aria-hidden="true" class="wp-block-spacer"></div>
<!-- /wp:spacer -->
<!-- wp:pattern {"slug":"human-resources/about-us-section"} /-->
<!-- wp:pattern {"slug":"human-resources/testimonials-section"} /-->
<!-- wp:pattern {"slug":"human-resources/faq-section"} /-->
<!-- wp:pattern {"slug":"human-resources/news-section"} /-->

<!-- wp:template-part {"slug":"footer","theme":"human-resources","tagName":"footer"} /-->